.contenedor {
    display: grid;
    height: 100vh;
    width: 100vw;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

.caja{
    width: 100px;
    height: 100px;
    background-color: orange;
    grid-column: 3;
    grid-row: 4;
}